.discover-snap {
   position: relative;
   margin-top: 60px;

  &__img {
    display: block;
    width: 120px;
    margin-left: 50%;
    transform: translateX(-50%);

    @include minWidth($breakPointMobile) {
      width: 170px;
    }

    @include minWidth($breakPointTablet) {
      width: 220px;
    }
  }

  &__title {
    position: absolute;
    font-family: $helvetica;
    font-weight: 600;
    font-size: 1.125rem;
    bottom: 50px;
    margin-left: 35%;
    transform: translateX(-50%);
    
    @include minWidth($breakPointMobile) {
      margin-left: 40%;
    }

    @include minWidth($breakPointTablet) {
      margin-left: 30%;
      font-size: 3rem;
      bottom: 130px;
    }

  }

  &__description {
    position: absolute;
    max-width: 180px;
    font-family: $avenirNext;
    font-size: 0.625rem;
    line-height: 1.5;
    bottom: -70px;
    right: 36%;
    transform: translateX(50%);
    
    @include minWidth($breakPointMobile) {
      max-width: 270px;
      bottom: -40px;
      right: 37%;
    }
    @include minWidth($breakPointTablet) {
      max-width: 500px;
      font-size: 1.125rem;
      bottom: -40px;
      right: 30%;
    }
  }
}