.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: $yellow;
  padding: 6px;
  position: fixed;
  width: 100%;
  z-index: 100;

  @include minWidth($breakPointTablet) {
    padding: 10px 30px;
  }

  &__title {
    position: absolute;
    text-indent: -3000px;
  }
    
  &__img {
    width: 100px;

    @include minWidth($breakPointTablet) {
      width: 160px;
    }
  }

  &__link {
    background-color: $white;
    font-family: $avenirNext;
    font-size: 0.875rem;
    text-align: center;
    padding: 10px;
    border-radius: 10px;

    &:hover {
      opacity: 0.9;
    }
  }
}