// PRODUCT COLOR + PRODUC KIT

.getProduct__sliderColor .slick-dots li.slick-active button:before,
.getProduct__kitSlider .slick-dots li.slick-active button:before {
  opacity: 1;
}

#slick-slide-control00, 
#slick-slide-control01, 
#slick-slide-control02, 
#slick-slide-control10, 
#slick-slide-control11, 
#slick-slide-control12 {
  &:before {
    content:'';
    position: absolute;
    background-size: cover;
    width: 100%;
  }
}

// PRODUCT COLOR


.getProduct__sliderColor #slick-slide-control00 {
  &:before {
    background-image: url('../images/oeilNoir.png');
  }
}

.getProduct__sliderColor #slick-slide-control01 {
  &:before {
    background-image: url('../images/oeilRouge.png');
  }
}

.getProduct__sliderColor #slick-slide-control02 {
  &:before {
    background-image: url('../images/oeilBleu.png');
  }
}

// PRODUCT KIT

.getProduct__kitSlider #slick-slide-control10, 
.getProduct__kitSlider #slick-slide-control11, 
.getProduct__kitSlider #slick-slide-control12 {
  &:before {
     width: 24px;
  }
}

.getProduct__kitSlider #slick-slide-control10 {
  &:before {
    background-image: url('../images/etui-little.png');
    height: 22px;
  }
}

.getProduct__kitSlider #slick-slide-control11 {
  &:before {
    background-image: url('../images/cable-little.png');
  }
}

.getProduct__kitSlider #slick-slide-control12 {
  &:before {
    background-image: url('../images/chiffon.jpeg');
  }
}

