/* ==========================================================================
  VARIABLES
/* ========================================================================== */

/*breakpoints*/
$breakPointMobile: 550px;
$breakPointTablet: 768px;
$breakPointDesktop: 1024px;

/* fonts */
$avenirNext: 'AvenirNext', arial, sans-serif;
$helvetica: Helvetica;

/* colors */
$black: #000000;
$white: #fff;
$yellow: #FFFC00;



//https://offroadcode.com/rem-calculator/