.presentationProduct {
  background-image: url('../images/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;

  @include minWidth($breakPointTablet) {
    display: flex;
    background-position-y: -60px;
  }

  &__containImg {
    display: inline-block;
    position: relative;
    width: 48%;

    @include minWidth($breakPointTablet) {
      padding-left: 10px;
      margin-top: 35px;
    }

    &-skate {
      position: absolute;
      max-width: 35%;
      left: 35px;
      bottom: 20px;
      
      @include minWidth($breakPointTablet) {
        bottom: 200px;
        left: 48px;
      }
    }

    &-skateuse {
      width: 95%;
      @include minWidth($breakPointTablet) {
        width: 88%;
      }
    }
  }

  &__text {
    float: right;
    width: 50%;
    padding: 0 10px 0 0;
    margin-bottom: 60px;

    @include minWidth($breakPointTablet) {
      margin-right: 30px;
    }

    &-title {
      font-family: $helvetica;
      font-size: 1rem;
      font-weight: 600;
      text-align: left;
      margin-bottom: 20px;
      margin-top: 15%;

      @include minWidth($breakPointMobile) {
        font-size: 2rem;
        padding-top: 30px;
        margin-top: 10%;
      }

      @include minWidth($breakPointTablet) {
        font-size: 2.6rem;
        text-align: inherit;
        margin-top: 28%;
        margin-bottom: 60px;
      }
    }

    &-description {
      max-width: 560px;
      font-family: $avenirNext;
      font-size: 0.7rem;
      font-weight: 500;
      line-height: 1.4;

      @include minWidth($breakPointMobile) {
        font-size: 1rem;
        margin-top: 10%;
      }

      @include minWidth($breakPointTablet) {
        font-size: 1.125rem;
        line-height: 1.5;
      }
    }
  }
}