@font-face {
  font-family: 'avenirnext';
  src: url("../fonts/AvenirNext/AvenirNextW06-Regular.eot"), url("../fonts/AvenirNext/AvenirNextW06-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext/AvenirNextW06-Regular.woff2") format("woff2"), url("../fonts/AvenirNext/AvenirNextW06-Regular.woff") format("woff"), url("../fonts/AvenirNext/AvenirNextW06-Regular.ttf") format("truetype"), url("../fonts/AvenirNext/AvenirNextW06-Regular.svg#AvenirNextW06-Regular") format("svg");
}

@font-face {
  font-family: 'avenirnext';
  src: url("../fonts/AvenirNext/AvenirNextW05-Medium.eot"), url("../fonts/AvenirNext/AvenirNextW05-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext/AvenirNextW05-Medium.woff2") format("woff2"), url("../fonts/AvenirNext/AvenirNextW05-Medium.woff") format("woff"), url("../fonts/AvenirNext/AvenirNextW05-Medium.ttf") format("truetype"), url("../fonts/AvenirNext/AvenirNextW05-Medium.svg#AvenirNextW05-Medium") format("svg");
  font-weight: 500;
}

@font-face {
  font-family: 'avenirnext';
  src: url("../fonts/AvenirNext/AvenirNextW05-Demi.eot"), url("../fonts/AvenirNext/AvenirNextW05-Demi.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext/AvenirNextW05-Demi.woff2") format("woff2"), url("../fonts/AvenirNext/AvenirNextW05-Demi.woff") format("woff"), url("../fonts/AvenirNext/AvenirNextW05-Demi.ttf") format("truetype"), url("../fonts/AvenirNext/AvenirNextW05-Demi.svg#AvenirNextW05-Demi") format("svg");
  font-weight: 600;
}

/* ==========================================================================
    MIXINS
/* ========================================================================== */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

* {
  outline: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/* ==========================================================================
  VARIABLES
/* ========================================================================== */
/*breakpoints*/
/* fonts */
/* colors */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFC00;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  header {
    padding: 10px 30px;
  }
}

header .header-title {
  position: absolute;
  text-indent: -3000px;
}

header .header-logo {
  width: 100px;
}

@media only screen and (min-width: 768px) {
  header .header-logo {
    width: 160px;
  }
}

header .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-menu__image {
  width: 15px;
}

@media only screen and (min-width: 768px) {
  header .header-menu__image {
    width: 30px;
  }
}

header .header-menu__text {
  font-family: Helvetica;
  font-size: 0.875rem;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  header .header-menu__text {
    font-size: 1.5rem;
  }
}

footer ul {
  margin-top: 100px;
  font-family: "avenirnext", arial, sans-serif;
  background: #FFFC00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0 21px;
}

@media only screen and (min-width: 1024px) {
  footer ul {
    padding: 30px 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

footer ul .footer-title {
  font-family: Helvetica;
  font-weight: 600;
  font-size: 0.875rem;
  margin-bottom: 8px;
}

@media only screen and (min-width: 1024px) {
  footer ul .footer-title {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}

footer ul .footer-text {
  font-size: 0.625rem;
  margin-top: 9px;
}

@media only screen and (min-width: 1024px) {
  footer ul .footer-text {
    font-size: 1.125rem;
    margin-top: 0;
  }
}

@media only screen and (min-width: 550px) {
  .hide-on-mobile {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .hide-on-tablet {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .hide-on-desktop {
    display: none;
  }
}

.show-on-mobile {
  display: none;
}

@media only screen and (min-width: 550px) {
  .show-on-mobile {
    display: block;
  }
}

.show-on-tablet {
  display: none;
}

@media only screen and (min-width: 768px) {
  .show-on-tablet {
    display: block;
  }
}

.show-on-desktop {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .show-on-desktop {
    display: block;
  }
}

.presentation-product {
  background-image: url("../images/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 768px) {
  .presentation-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-position-y: -60px;
  }
}

.presentation-product__img {
  display: inline-block;
  position: relative;
  width: 48%;
}

@media only screen and (min-width: 768px) {
  .presentation-product__img {
    padding-left: 10px;
    margin-top: 35px;
  }
}

.presentation-product__img-skate {
  position: absolute;
  max-width: 35%;
  left: 35px;
  bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .presentation-product__img-skate {
    bottom: 200px;
    left: 48px;
  }
}

.presentation-product__img-skateuse {
  width: 95%;
}

@media only screen and (min-width: 768px) {
  .presentation-product__img-skateuse {
    width: 88%;
  }
}

.presentation-product__text {
  float: right;
  width: 50%;
  padding: 0 10px 0 0;
  margin-bottom: 60px;
}

@media only screen and (min-width: 768px) {
  .presentation-product__text {
    margin-right: 30px;
  }
}

.presentation-product__text-title {
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 15%;
}

@media only screen and (min-width: 550px) {
  .presentation-product__text-title {
    font-size: 2rem;
    padding-top: 30px;
    margin-top: 10%;
  }
}

@media only screen and (min-width: 768px) {
  .presentation-product__text-title {
    font-size: 2.6rem;
    text-align: inherit;
    margin-top: 28%;
    margin-bottom: 60px;
  }
}

.presentation-product__text-description {
  max-width: 560px;
  font-family: "avenirnext", arial, sans-serif;
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 1.4;
}

@media only screen and (min-width: 550px) {
  .presentation-product__text-description {
    font-size: 1rem;
    margin-top: 10%;
  }
}

@media only screen and (min-width: 768px) {
  .presentation-product__text-description {
    font-size: 1.125rem;
    line-height: 1.5;
  }
}

.get-product__title {
  clear: both;
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin-top: 60px;
}

@media only screen and (min-width: 550px) {
  .get-product__title {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .get-product__title {
    font-size: 3rem;
  }
}

.get-product__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .get-product__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 80px 20px;
  }
}

.get-product__container-color {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .get-product__container-color {
    max-width: 30%;
  }
}

.get-product__container-color-image {
  display: block;
  width: 50%;
  margin: 20px auto;
}

@media only screen and (min-width: 768px) {
  .get-product__container-color-image {
    width: 100%;
  }
}

.get-product__container-color-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 40px;
  width: 40%;
  margin: 20px auto;
}

@media only screen and (min-width: 550px) {
  .get-product__container-color-choice {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .get-product__container-color-choice {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

.get-product__container-color-choice img {
  width: 16%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .get-product__container-color-choice img {
    width: 20%;
  }
}

.get-product__container-color-text {
  font-family: "avenirnext", arial, sans-serif;
  font-size: 0.9375rem;
  text-align: center;
  line-height: 4;
}

@media only screen and (min-width: 550px) {
  .get-product__container-color-text {
    line-height: 5;
  }
}

@media only screen and (min-width: 768px) {
  .get-product__container-color-text {
    line-height: 2;
  }
}

.get-product__container-buy {
  margin: 30px auto 70px;
}

@media only screen and (min-width: 550px) {
  .get-product__container-buy {
    margin: 40px auto 100px;
  }
}

@media only screen and (min-width: 768px) {
  .get-product__container-buy {
    margin: 60px 38px 0;
    max-width: calc(40% - 76px);
  }
}

@media only screen and (min-width: 1024px) {
  .get-product__container-buy {
    margin: 10% 38px 0;
  }
}

.get-product__container-buy-text {
  font-family: "avenirnext", arial, sans-serif;
  font-size: 1.875rem;
  text-align: center;
  margin-bottom: 90px;
  display: none;
}

@media only screen and (min-width: 768px) {
  .get-product__container-buy-text {
    display: block;
    margin-bottom: 60px;
  }
}

@media only screen and (min-width: 1024px) {
  .get-product__container-buy-text {
    margin-bottom: 70px;
  }
}

.get-product__container-buy-link {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  font-family: "avenirnext", arial, sans-serif;
  background-color: #FFFC00;
  color: #000000;
  border-radius: 6px;
  font-weight: 500;
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 25px 11px;
}

@media only screen and (min-width: 550px) {
  .get-product__container-buy-link {
    line-height: 1.35714;
  }
}

@media only screen and (min-width: 768px) {
  .get-product__container-buy-link {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 1024px) {
  .get-product__container-buy-link {
    font-size: 1.2rem;
  }
}

.get-product__container-kit {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .get-product__container-kit {
    max-width: 30%;
    width: inherit;
    margin: 0;
  }
}

.get-product__container-kit-title {
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

@media only screen and (min-width: 550px) {
  .get-product__container-kit-title {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 768px) {
  .get-product__container-kit-title {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 2.125rem;
    margin-bottom: 70px;
  }
}

.get-product__container-kit-big {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media only screen and (min-width: 768px) {
  .get-product__container-kit-big {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.get-product__container-kit-big-image {
  display: block;
  margin: 0 auto;
  width: 60%;
}

@media only screen and (min-width: 550px) {
  .get-product__container-kit-big-image {
    width: 70%;
  }
}

@media only screen and (min-width: 768px) {
  .get-product__container-kit-big-image {
    width: 100%;
  }
}

.get-product__container-kit-big-title {
  font-family: "avenirnext", arial, sans-serif;
  font-size: 1rem;
  text-align: center;
  margin: 10px 0 40px;
}

@media only screen and (min-width: 550px) {
  .get-product__container-kit-big-title {
    font-size: 1.25rem;
  }
}

.get-product__container-kit-little {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media only screen and (min-width: 768px) {
  .get-product__container-kit-little {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 80%;
    margin: 0 auto;
  }
}

.get-product__container-kit-little-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "avenirnext", arial, sans-serif;
  font-size: 0.75rem;
  text-align: center;
  width: 20%;
}

@media only screen and (min-width: 768px) {
  .get-product__container-kit-little-contain {
    width: 23%;
  }
}

.get-product__container-kit-little-contain img {
  width: 90%;
  height: 50px;
  margin-bottom: 10px;
}

.discover-snap {
  position: relative;
  margin-top: 60px;
}

.discover-snap__img {
  display: block;
  width: 120px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media only screen and (min-width: 550px) {
  .discover-snap__img {
    width: 170px;
  }
}

@media only screen and (min-width: 768px) {
  .discover-snap__img {
    width: 220px;
  }
}

.discover-snap__title {
  position: absolute;
  font-family: Helvetica;
  font-weight: 600;
  font-size: 1.125rem;
  bottom: 50px;
  margin-left: 35%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media only screen and (min-width: 550px) {
  .discover-snap__title {
    margin-left: 40%;
  }
}

@media only screen and (min-width: 768px) {
  .discover-snap__title {
    margin-left: 30%;
    font-size: 3rem;
    bottom: 130px;
  }
}

.discover-snap__description {
  position: absolute;
  max-width: 180px;
  font-family: "avenirnext", arial, sans-serif;
  font-size: 0.625rem;
  line-height: 1.5;
  bottom: -70px;
  right: 36%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

@media only screen and (min-width: 550px) {
  .discover-snap__description {
    max-width: 270px;
    bottom: -40px;
    right: 37%;
  }
}

@media only screen and (min-width: 768px) {
  .discover-snap__description {
    max-width: 500px;
    font-size: 1.125rem;
    bottom: -40px;
    right: 30%;
  }
}
