@font-face {
    font-family:'avenirnext';
    src:url('../fonts/avenirnext/AvenirNextW06-Regular.eot'),
        url('../fonts/avenirnext/AvenirNextW06-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/avenirnext/AvenirNextW06-Regular.woff2') format('woff2'),
        url('../fonts/avenirnext/AvenirNextW06-Regular.woff') format('woff'),
        url('../fonts/avenirnext/AvenirNextW06-Regular.ttf') format('truetype'),
        url('../fonts/avenirnext/AvenirNextW06-Regular.svg#AvenirNextW06-Regular') format('svg');
}

@font-face {
    font-family:'avenirnext';
    src:url('../fonts/avenirnext/AvenirNextW05-Medium.eot'),
        url('../fonts/avenirnext/AvenirNextW05-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/avenirnext/AvenirNextW05-Medium.woff2') format('woff2'),
        url('../fonts/avenirnext/AvenirNextW05-Medium.woff') format('woff'),
        url('../fonts/avenirnext/AvenirNextW05-Medium.ttf') format('truetype'),
        url('../fonts/avenirnext/AvenirNextW05-Medium.svg#AvenirNextW05-Medium') format('svg');
    font-weight: 500;
}

@font-face {
    font-family:'avenirnext';
    src:url('../fonts/avenirnext/AvenirNextW05-Demi.eot'),
        url('../fonts/avenirnext/AvenirNextW05-Demi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/avenirnext/AvenirNextW05-Demi.woff2') format('woff2'),
        url('../fonts/avenirnext/AvenirNextW05-Demi.woff') format('woff'),
        url('../fonts/avenirnext/AvenirNextW05-Demi.ttf') format('truetype'),
        url('../fonts/avenirnext/AvenirNextW05-Demi.svg#AvenirNextW05-Demi') format('svg');
    font-weight: 600;
}

