/* ==========================================================================
  VARIABLES
/* ========================================================================== */

/* fonts */
$avenirNext: 'avenirnext', arial, sans-serif;
$helvetica: Helvetica;

/* colors */
$black: #000000;
$white: #fff;
$yellow: #FFFC00;
$orange: #ffe700;



//https://offroadcode.com/rem-calculator/