/* ==========================================================================
  VARIABLES
/* ========================================================================== */

/* fonts */
$avenirNext: 'avenirnext', arial, sans-serif;
$helvetica: Helvetica;

/* colors */
$black: #000000;
$white: #fff;
$yellow: #FFFC00;
$orange: #ffe700;
$red: #EC493E;
$blue: #5CD2D2;
