header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: $yellow;
  padding: 10px;

  @include minWidth($breakPointTablet) {
    padding: 10px 30px;
  }

  .header- {

    &title {
      position: absolute;
      text-indent: -3000px;
    }
    
    &logo {
      width: 100px;

      @include minWidth($breakPointTablet) {
        width: 160px;
      }
    }

    &menu {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__image {
        width: 15px;

        @include minWidth($breakPointTablet) {
          width: 30px;
        }
      }

      &__text {
        font-family: $helvetica;
        font-size: 0.875rem;
        text-align: center;

        @include minWidth($breakPointTablet) {
          font-size: 1.5rem;
        }
      }
    }
  }
}